/*----------- Default Properties---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Font Names  */
/* font-family: "Edu TAS Beginner", cursive;  */
/* font-family: "Sometype Mono", monospace; */
body {
    font-family: "Edu TAS Beginner", cursive; 
}



/* --------------HEADER-------------------  */

header{
    background-image: url(../img/wall.png);
    padding: 40px;
    text-align: center;
    font-size: 80px;
}

h1, h2 {
    text-align: center;
}

/*----------------- MAIN-------------------  */
main {
    background-image: url(../img/cork.png);
    width: 100vw;
}

/* MAIN CONTAINER  */
#cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    padding: 50px 20px 20px;
    gap: 25px;
    width: 80%;
    margin: 0 auto;
}



/* PHOTO CARD  */
main .photo-card{
    background-color: white;
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(((100% - (25px * 2)) / 3));
    flex-wrap: wrap;
    flex-shrink: 0;
    box-shadow: 0px 5px 2px 3px rgba(0, 0, 0, 0.4);
}

/* PHOTO CARD PIN  */
.photo-card img.pin {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 50%;
    transform: translate(50%, -25%);
}

/* PHOTO-CONTAINER  */
.photo-card .photo-container {
    width: 260px;
}
/* PHOTO CONTAINER IMG  */
.photo-card .photo-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

/* PHOTO CARD DESCRIPTION  */
.photo-card .photo-description {
    width: 100%;
    padding: 15px 20px;
    font-size: 30px;
    text-transform: uppercase;
}
.photo-card .photo-date {
    width: 100%;
    font-size: 15px;
    color: grey;
    text-align: left;
    padding: 0px 20px;
}

/* Hover Options  */

.photo-card:hover {
    cursor: pointer;
    transform: rotate(10deg);
    z-index: 2;
    box-shadow: 0px 5px 2px 10px rgba(0, 0, 0, 0.4);
   }


.photo-card:hover img.pin {
    opacity: 0;
} 




/* Responsive Media  */
 @media  screen and (max-width: 1200px) {
    /* Fonts  */
    header{
        font-size: 50px;
    }
    .photo-card .photo-container {
        width: 200px;
    }

    .photo-card img.pin {
        width: 35px;
        height: 35px;
    }
    
    main .photo-card{
        padding: 15px;
    }
   
    .photo-card .photo-description {
        font-size: 20px;
        text-align: left;
    }
 } 


 @media  screen and (max-width: 768px) {
    
    header{
        font-size: 30px;
    }

    main .photo-card {
        width: calc((100% - 25px) / 2 );
    }
    .photo-card .photo-description {
        font-size: 15px;
    }
 } 

 @media  screen and (max-width: 576px) {
    header{
        font-size: 20px;
    }
    main .photo-card {
        width: 60%;
    }
    .photo-card .photo-container {
        width: 160px;

    }
 } 




 /* Error settings  */

 .error {
    padding: 50px;
    background-image: url(../img/cork.png);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif ;
}

h2 {
    font-size: 100px;
    margin: 40px;
}





/* Overlay Options  */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    gap: 30px;
    flex-direction: column;
    padding: 50px;
}
.body-overflow {
    overflow: hidden;
}

/* Image options  */
.overlay-img {
    width: 400px;
    height: 400px;
}


/* Button element  */


.close-button {
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
}

.d-none {
    display: none;
}