* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Names  */
/* font-family: "Edu TAS Beginner", cursive;  */
/* font-family: "Sometype Mono", monospace; */
body {
    font-family: "Sometype Mono", monospace;
}